* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
  p, li {
    font-size: 18px;
    font-family: serif;
    background-color: white;
  }
   
   
  a {
    text-decoration: none;
  }
  .header {
    background-image: url(https://static01.nyt.com/images/2019/05/29/realestate/00skyline-south4/88ce0191bfc249b6aae1b472158cccc4-superJumbo.jpg);
    height: 200px;
    padding: 30px;
    background-position: center;
    color:black;
     font-family: Helvetica;
     font-weight:lighter; 
  }
  .AboutMe{
      color: black;
      text-align: auto;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      border-style: outset;
  }
  .Main{
    color: black;
    text-align: auto;
    border-style: outset;
  }
  .Languages{
    color: black;
    text-align: auto;
    border-style: outset;
  }
  .Outro{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-style: outset;
  }
  footer{
    text-align: center;
    padding: 3px;
    background-color: whitesmoke;
    color: black;
    border-style: outset;
  }